/*=============================================
=            Import bulma styles            =
=============================================*/

$column-gap: 20px;
$spacing-shortcuts: ("margin": "mg");
$spacing-values: ("none": 0, "small": 1rem, "medium": 4rem, "large": 6rem);

$tablet: 768px;

$navbar-background-color: #fff;
$navbar-box-shadow-size : 0px 3px 6px 0px;
$navbar-box-shadow-color:  rgba(0,0,0,0.16);
$navbar-height: auto;
$navbar-item-color: #0C0C0C;

$navbar-item-hover-color: #CE001D;
$navbar-item-active-color: #CE001D;
$navbar-item-hover-background-color: transparent;
$navbar-item-active-background-color: transparent;

$navbar-dropdown-background-color: #fff;
$navbar-dropdown-radius: 0;
$navbar-dropdown-boxed-radius: 0;
$navbar-dropdown-boxed-shadow:  0px 3px 6px 0px rgba(0,0,0,0.16);
$navbar-dropdown-border-top: 5px solid #CE001D;
$navbar-dropdown-item-active-background-color: transparent;
$navbar-dropdown-item-active-color: #CE001D;

@import "../node_modules/bulma/sass/utilities/all";
@import "../node_modules/bulma/sass/helpers/spacing";
@import "../node_modules/bulma/sass/grid/columns";
// @import "../node_modules/bulma/sass/components/navbar";
// @import "../node_modules/bulma/sass/components/dropdown";
@import "../node_modules/bulma/sass/elements/button";