/*=============================================
=            Footer            =
=============================================*/

.footer {
   font-family: $title-font;
   margin-top: 4rem;

   .footer-main-title {
      @include fluid-type(320px, 1360px, 12px, 16px);
      line-height: 20px;
      text-transform: uppercase;
      margin: 0;
   }

   li {
      @include fluid-type(320px, 1360px, 12px, 14px);
      line-height: 16px;
      margin-bottom: 5px;
      text-transform: uppercase;

      a {
         padding: .4rem 0;
         display: block;
      }
   }

   .btn {
      margin-top: 2rem;
      @include fluid-type(320px, 990px, 12px, 14px);
      padding: 1.1rem 1.2rem;
   }
}

.footer__logo {
   display: flex;
   align-items: center;
   justify-content: center;
   flex-direction: row;
   margin-bottom: 20px;
   width: 14rem;
   height: 8rem;
   margin-right: 20px;
   img {
      max-height: 100%;
      width: 100%;
      height: auto;
      width: auto;
   }
}

.footer-copyright {
   p {
      line-height: 12px;
   }
}

.footer-wrap {
   display: flex;
   flex-wrap: wrap;
   justify-content: space-between;
}

.footer__column {
   margin-bottom: 20px;
   width: 48.5%;
}

.footer-bottom {
   border-top: 1px solid $border_color;

   p,
   a {
      font-family: $title-font;
      font-size: 12px;
      text-transform: uppercase;
      padding: 1.6rem 18px 1.6rem 0;
   }

   a {

      display: inline-block;
   }

}

.social-icon {
   display: flex;
   margin-top: 13px;

   >a {
      margin-right: 3rem;

      &:hover {
         opacity: .8;
      }
   }
}

.footer_1 {
   order: 4;
   display: flex;
   flex-direction: row;
   align-items: flex-start;
   width: 100%;
   margin-bottom: 0;
}




@media only screen and (min-width: 600px) {


   .footer-wrap {

      .footer__column {
         width: 33.33%;
      }

      .footer__column.border-right {
         display: flex;
         flex-direction: column;
      }

      .footer_1 {
         order: 1;
         flex-direction: row;
         width: auto;
         flex-direction: row;
         display: flex;
         align-items: center;
         margin-bottom: 0;
      }

      .footer__column {
         margin-left: 0;
         padding-left: 0;
         padding-right: 2rem;

         &:nth-child(2n) {
            margin-left: 0;
         }

      }
   }

   .footer-bottom {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-top: 2rem;
   }
}

@media only screen and (min-width: $laptop) {

   .footer {
      .footer-main-title {
         font-weight: 800;
      }
      .btn {
         padding: 1.1rem 1.5rem;
      }
   }
   .footer-wrap {
      justify-content: space-between;

      .footer__column {
         max-width: initial;
         width: calc(20% - 26px);
      }

      .footer_1 {
         order: 0;
         flex-direction: column;
         align-items: center;
      }

      .footer__logo {
         align-items: center;
         justify-content: center;
      }

      .footer_5 {
         padding-right: 0;
      }

      .footer_3,
      .footer_4 {
         border-right: 1px solid $border_color;
         padding-right: 2rem;
         margin-right: 1rem;
         display: flex;
         flex-direction: column;
         justify-content: space-between;
      }

   }

}

/*=====  End of Footer  ======*/