/*=============================================
=            Form style and gravity form style            =
=============================================*/

div.gform_wrapper {

   li,
   ul {
      padding: 0;
      margin: 0;

      &:before {
         display: none;
         width: 0;
         height: 0;
      }
   }

   .gform_title {
      display: none;
   }
}

input[type="text"],
input[type="date"],
input[type="datetime"],
input[type="email"],
input[type="number"],
input[type="password"],
input[type="tel"],
input[type="search"],
input[type="time"],
input[type="url"],
input[type="time"],
input[type="date"],
textarea,
select,
div.gform_wrapper input:not([type="radio"]):not([type="checkbox"]):not([type="submit"]):not([type="button"]):not([type="image"]):not([type="file"]),
div.gform_wrapper .chosen-container-single .chosen-single,
div.gform_wrapper textarea {

   /* Remove First */
   appearance: none;
   background-color: white;
   @include fluid-type(320px, 1360px, 16px, 18px);
   border: 1px solid rgba(0, 0, 0, 0.2);
   box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.1);
   font-weight: 300;
   border-radius: 5px;
   padding: 1.4rem 2rem;
   border-radius: 10px;
   color: $dark;
   filter: none;
   line-height: 22px;

   &:focus {
      border: 1px solid rgba(58, 58, 58, .6);
      filter: none;
      transition: all .3s ease-in-out;
   }
}

div.gform_wrapper.gf_browser_gecko select,
div.gform_wrapper.gf_browser_chrome ul.gform_fields li.gfield select {
   padding: 1.4rem 2rem !important;

   option {
      padding: 1.4rem 2rem !important;
   }
}

div.gform_wrapper .chosen-container-single .chosen-single div {
   display: flex;
   align-items: center;
   padding-right: 28px;

   b {
      border: solid $dark;
      border-width: 0 1px 1px 0;
      display: inline-block;
      padding: 5px;
      background-image: none;
      height: auto;
      width: auto;
      transform: rotate(45deg);
   }
}

div.gform_wrapper .chosen-container-single .chosen-single {
   height: auto;
   font-weight: 300;
   border-radius: 5px !important;
   background: #fff;
   box-shadow: none;
}

body div.gform_wrapper ul li.gfield {
   margin-top: 3rem;
}

input[type="submit"],
div.gform_wrapper .gform_footer input.button,
div.gform_wrapper .gform_footer input[type="submit"],
div.gform_wrapper .gform_page_footer input.button,
div.gform_wrapper .gform_page_footer input[type="submit"] {
   cursor: pointer;
   background-color: $main_color;
   color: #fff;
   text-transform: uppercase;
   font-size: 14px;
   line-height: 14px;
   font-weight: 500;
   font-family: $title-font;
   padding: 1.1rem 5.5rem;
   white-space: nowrap;
   display: inline-block;
   border: 2px solid $main-color;
   border-radius: 0;
   height: auto;
   width: auto;

   &:hover {
      border-color: $main-color;
      background-color: transparent;
      color: $main-color;
      transition: all .3s ease-in-out;
   }

}

label,
div.gform_wrapper label.gfield_label,
div.gform_wrapper legend.gfield_label {
   color: $dark;
   @include fluid-type(320px, 1360px, 16px, 18px);
   font-weight: 300;
}

div.gform_wrapper .top_label .gfield_label,
div.gform_wrapper legend.gfield_label {
   margin-bottom: 1.3rem;
}

div.gform_wrapper .gfield_required {
   color: #fff;
   font-weight: 300;
}

body div.gform_wrapper .top_label div.ginput_container {
   margin-top: 3px;
}

/*----------  Style autofill select input field  ----------*/


input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
   -webkit-box-shadow: 0 0 0 30px white inset !important;
}



/*----------  Style placeholder  ----------*/


::placeholder {
   color: rgba(0, 0, 0, .4);
   @include fluid-type(320px, 1360px, 16px, 18px);
}

:-ms-input-placeholder {
   color: rgba(0, 0, 0, .4);
   @include fluid-type(320px, 1360px, 16px, 18px);
}

::-ms-input-placeholder {
   color: rgba(0, 0, 0, .4);
   @include fluid-type(320px, 1360px, 16px, 18px);
}

.gform_wrapper .chosen-container-single .chosen-single span {
   color: rgba(58, 58, 58, .4);
   font-weight: 400;
}


/*----------  Checkbox style  ----------*/


input[type=checkbox] {
   -webkit-appearance: none;
   -moz-appearance: none;
   border-radius: 0;
}

input[type=checkbox]::-ms-check {
   display: none;
}

input[type=checkbox],
div.gform_wrapper ul.gfield_checkbox li input[type="checkbox"] {
   position: relative;
   width: 13px !important;
   height: 13px;
   border: 1px solid rgba(50, 50, 49, 0.5);
   vertical-align: -2px;
}

input[type=checkbox],
div.gform_wrapper ul.gfield_checkbox li input[type="checkbox"] {
   &::before {
      content: "";
      position: absolute;
      font-size: 14px;
      right: 0;
      top: -0.3em;
      visibility: hidden;
   }
}

input[type=checkbox],
div.gform_wrapper ul.gfield_checkbox li input[type="checkbox"],
.ginput_container_consent input[type=checkbox] {
   &:checked {
      background-color: $tragac_cat;
      border-color: $tragac_cat;
   }
}

input[type=checkbox]:checked::before {
   visibility: visible;
}

.gfield_consent_label {
   font-weight: 700;
}

.ginput_container_consent {
   display: flex;
   justify-content: flex-end;
   align-items: center;
   margin-bottom: 3rem;

   input[type="checkbox"] {
      width: 2.7rem !important;
      height: 2.7rem;
      border-width: 2px;
      border-color: $dark;
      margin: 0 10px 0 0;
      margin-top: 0 !important;
      cursor: pointer;

      &:checked::after {
         content: "";
         content: "";
         position: absolute;
         left: .7rem;
         top: 0px;
         width: .9rem;
         height: 1.8rem;
         border: solid white;
         border-width: 0 2px 2px 0;
         transform: rotate(45deg);
      }
   }
}



/*----------  Validation  ----------*/

div.gform_wrapper div.validation_error {
   display: none
}

div.gform_wrapper li.gfield.gfield_error,
div.gform_wrapper li.gfield.gfield_error.gfield_contains_required.gfield_creditcard_warning {
   background-color: transparent;
   border: none;
}

div.gform_wrapper li.gfield.gfield_error,
div.gform_wrapper li.gfield.gfield_error.gfield_contains_required.gfield_creditcard_warning {
   padding: 0;
   margin: 0;
}

div.gform_wrapper .validation_message {
   font-weight: 300;
   color: $main_color;
   line-height: 14px;
   margin-top: 0;
   padding-top: 11px;
}

div.gform_confirmation_wrapper {
   font-size: 18px;
   color: $tragac_cat;
   padding: 5rem 0 2rem;
   font-weight: 500;
}

/* Spinner */
.gform_ajax_spinner {
   margin-left: 5px;
   border: 1px solid $main_color;
   border-left: 4px solid $main_color;
   animation: spinner 1.1s infinite linear;
   border-radius: 50%;
   width: 15px !important;
   height: 15px !important;
   display: inline-block;
}

@keyframes spinner {
   0% {
      transform: rotate(0deg);
   }

   100% {
      transform: rotate(360deg);
   }
}

/*=====  End of Form style and gravity form style  ======*/