/*=============================================
=            Layout            =
=============================================*/



.container {
   max-width: 1270px;
   @include push--auto;
   padding-left: 20px;
   padding-right: 20px;
}

.container--indent {
   max-width: 1060px;
}

.site-content {
   margin-top: 69px;
}
.section {
   padding-top: 4rem;
   padding-bottom: 4rem;
}

.section-title {
   font-size: 20px;
   @include fluid-type(320px, 990px, 18px, 20px);
   line-height: 22px;
   font-weight: 700;
   padding: 5px 2rem 5px 1.3rem;
   margin-bottom: 2.6rem;
   border-left: 5px solid;
   text-transform: uppercase;
}

.brief_border {
   border-color: $brief_cat;
}

.truth_border {
   border-color: $truth_cat;
}

.blog_border {
   border-color: $blog_cat;
}

.layout__sidebar {
   display: block;
   padding: 3.5rem 20px;
   margin-left: -20px;
   margin-right: -20px;
}

.page-title {
   font-weight: 700;
   margin: 0;
   padding: 2.7rem 0 4rem;
}

.page-section-title {
   margin-bottom: 20px;
   padding-top: 4.5rem;
   padding-bottom: 4.5rem;

   h1 {
      font-weight: 700;
      margin: 0;
   }

   h1,
   p {
      color: #fff
   }

   p {
      @include fluid-type(320px, 1360px, 16px, 18px);
      @include line-height(320px, 1360px, 24px, 30px);
      line-height: 30px;
      font-weight: 300;
      color: rgba(255, 255, 255, .8);
      margin-top: 0;
   }
}

.layout {
   &.section {
      padding-top: 0;
   }
}

@media only screen and (min-width: $tablet) {
   .container {
      padding-left: 5rem;
      padding-right: 5rem;
   }
   .section {
      padding-top: 5.5rem;
      padding-bottom: 5.5rem;
   }

   .section-side {
      // padding-left: 4rem;
      // padding-right: 4rem;
   }

   .page-section-title {
      .column {
         padding-left: 0;
      }
   }

   .layout {
      display: flex;
      flex-direction: row;

      .layout__main {
         width: 60%;
         padding-right: 3rem;
      }

      .layout__sidebar {
         width: 40%;
         padding-left: 3rem;
         padding-right: 0;
         position: relative;
         margin: initial;

         &:before {
            content: "";
            background-color: $background_light;
            display: inline-block;
            width: 1000%;
            position: absolute;
            right: -1000%;
            top: 0;
            bottom: 0;
         }
      }
   }
}


@media only screen and (min-width: 910px) {


   .navbar.container {
      width: 100%;
      max-width: 1340px;
   }
   .layout {
      .layout__main {
         padding-right: 4rem;
         width: 70%;
      }

      .layout__sidebar {
         padding-left: 4rem;
         width: 30%;
      }
   }

   .page-section-title {
      margin-bottom: 4rem;
   }

   .page-title {
      padding-bottom: 7rem;
   }
}



@media only screen and (min-width: 1024px) {
   .site-content {
      margin-top: 0;
   }
}

@media only screen and (min-width: 1270px) {
   .container {
      padding-left: 20px;
      padding-right: 20px;
   }
}

/*=====  End of layout  ======*/