
/*=============================================
=            Navigation menu            =
=============================================*/

.navbar {
   position: fixed;
   top: 0;
   left: 0;
   right: 0;
   z-index: 1024;
   background-color: #fff;

   &.container {
      padding-left: 0;
      padding-right: 0;
   }

   &.is-active {
      height: 100%;
      overflow: auto;

      .menu-item {
         opacity: 1;
         transition: opacity .3s ease-in-out;
      }

      .navbar__burger {
         span {
            &:nth-of-type(1) {
               transform: translate3d(0, -8px, 0) rotate(-45deg);
            }

            &:nth-of-type(2) {
               opacity: 0;
            }

            &:nth-of-type(3) {
               transform: translate3d(0, 10px, 0) rotate(45deg);
            }
         }

      }

      .navbar__list-wrap {
         height: calc(100% - 69px);
         padding: 20px;
         overflow: auto;
      }
   }
}

.disable-scroll {
   overflow: hidden;
}

.navbar__list-wrap {
   height: 0;
   width: 100%;
   background: #fff;

   display: block;
   overflow: hidden;

   .menu-item {
      opacity: 0;
      transition: opacity .3s ease-in-out;
      font-family: $title-font;
      text-transform: uppercase;
   }
}

.navbar__list {
   >.menu-item {
      >a {
         font-size: 16px;
         font-weight: 600;
         padding: 10px 0;
         display: inline-block;
      }
   }

   .sub-menu {
      border-top: 3px solid $main_color;
      padding-left: 20px;

      a {
         font-size: 14px;
         line-height: 22px;
         display: inline-block;
         padding: 6px 7px 6px 0;
      }
   }
}

.navbar__brand {
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding: 10px 20px;
   border-bottom: 1px solid $border_color;
}

.navbar__logo {
   width: 90px;
}

.mobile-header {
   position: fixed;
   top: 20px;
   right: 60px;
   width: 36px;
   height: 46px;
   display: flex;
   justify-content: center;
   align-items: center;
}

.mobile-header {

   #searchsubmit.searchform__button {
      width: 36px;
      height: 40px;
      background-size: 25.4px 18px;
      top: -6px;
   }

   .searchform.is-active .searchform__input {
      width: 180px;
   }

}

.menu-item-has-children {
   position: relative;
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;

   >a {
      width: calc(100% - 40px);
   }

   >.sub-menu {
      display: none;
      width: 100%;
      margin-bottom: 15px;
   }

   &.submenu-toggle {
      >.sub-menu {
         display: block;
      }
   }
}

.nav-arrow {
   width: 40px;
   display: flex;
   justify-content: center;
   align-items: center;
   cursor: pointer;

   &:before {
      content: "";
      background: url(img/arrow.png) no-repeat;
      width: 20px;
      height: 9px;
      display: inline-block;
   }
}

.navbar__burger {
   width: 30px;
   height: 21px;
   position: relative;
   cursor: pointer;

   span {
      position: absolute;
      display: inline-block;
      width: 30px;
      height: 3px;
      background-color: $main_color;
      transition-timing-function: ease;
      transition-duration: .15s;
      transition-property: transform;
      border-radius: 4px;

      &:nth-of-type(1) {
         top: 18px;
      }

      &:nth-of-type(2) {
         top: 9px;
      }

      &:nth-of-type(3) {
         top: 0;
      }
   }
}


@media only screen and (min-width: $tablet) {

   .navbar {
      &.is-active {
         opacity: 1;
         background-color: rgba(255, 255, 255, .7);
         width: 100%;
         transition: opacity .3s ease-in-out;

         .navbar__list-wrap {
            right: 0;
            transition: right .3s ease-in-out;
         }
      }
   }

   .navbar__brand {
      background-color: #fff;
   }

   .navbar__list-wrap {
      width: 500px;
      margin-left: auto;
      background-color: #fff;
      position: absolute;
      right: -100%;
   }
}

@media only screen and (min-width: 1024px) {

   .navbar {
      position: relative;
      top: initial;
      display: flex;
      justify-content: space-between;
      border-bottom: 1px solid $border_color;
      padding-bottom: 1.3rem;
      display: flex;
      align-items: center;
      padding-bottom: 28px;
      padding-top: 15px;
      &.is-active {
         height: auto;
      }
   }

   .navbar__btn {
      margin-right: 20px;
   }

   .navbar__burger {
      display: none;
   }

   .navbar__brand {
      border: none;
   }

   .navbar__logo {
      width: 14rem;

      &.is-visible {
         visibility: hidden;
      }
   }

   .navbar__list-wrap {
      display: flex !important;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      position: initial;
      width: 100%;
      height: 100%;
      right: initial;
      padding-left: 0;
      overflow: initial;

      .menu-item {
         opacity: 1;
         display: flex;
      }
   }

   .navbar__btn {
      margin-left: auto;
   }

   .nav-arrow {
      margin-left: 0;
      position: absolute;
      right: 0;
      top: 0;
   }

   .navbar__list {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      @include push--auto;

      >.menu-item-has-children {
         >a {
            padding-right: 25px !important;
         }
      }

      >.menu-item {
         width: 100%;
         white-space: nowrap;

         >a {
            padding: 10px 1.5rem;
            width: 100%;
            font-size: 14px;
            @include fluid-type(1024px, 1200px, 14px, 16px);
         }
      }
   }

   .nav-arrow {
      top: 50%;
      bottom: 50%;
      transform: translateY(-50%);
      right: -13px;
   }

   .menu-item-has-children {
      position: relative;

      .sub-menu {
         position: absolute;
         background-color: #fff;
         top: 50px;
         left: 0;
         min-width: 200px;
         box-shadow: $box-shadow;
         border-width: 5px;
         padding: 6px 0;
         .menu-item {
            padding-right: 0;
            padding-left: 15px;
            white-space: normal;
            font-weight: 600;
         }

         >.menu-item-has-children {
            .nav-arrow {
               right: 0;
               transform: rotate(-90deg);
               top: 10px;
            }

            >.sub-menu {
               left: 100%;
               background: #fff;
               top: 0;

               >.menu-item-has-children {
                  >.sub-menu {
                     left: initial;
                     right: 100%;
                     background: #fff;
                     z-index: 10;
                  }
               }
            }
         }
      }

      &:hover,
      &:focus-within {
         >.sub-menu {
            display: block;
         }
      }

   }

   .navbar-right__button {
      position: absolute;
      right: 20px;
      bottom: 0;
   }

   .language-wrap,
   .mobile-header {
      position: initial;
      margin: 0;
   }

   .mobile-header {
      width: 31px;
      height: 32px;
      margin-top: 5px;
      margin-right: 8px;

      #searchsubmit.searchform__button {
         width: 31px;
         height: 32px;
         background-size: 14.4px 15px;
         top: -3px;
      }

      .searchform.is-active .searchform__input {
         width: 220px;
      }

   }



}



/*=====  End of Navigation menu  ======*/