
/*=============================================
=            Banner with image and banner link            =
=============================================*/

.banner-img {
   position: relative;
   &:after {
      content: "";
      background: linear-gradient(to right, #000 0%, rgba(0, 0, 0, .62) 100%, rgba(0, 0, 0, 0) 100%);
      width: 100%;
      height: 100%;
      position: absolute;
      z-index: 0;
      display: inline-block;
      left: 0;
      top: 0;
      bottom: 0;
      right: 0;
   }
  
}

.banner-img__content {
   position: relative;
   z-index: 1;
   padding-top: 2.5rem;
   padding-bottom: 2.5rem;
   h1,h2,h3,h4,h5,h6,p, li {
      color: #fff;
   }
}

.banner-img__content-inner {
   margin-top: 13px;
}

h6.banner-img__top-label {
   font-weight: 500;
   color: $dark;
   background-color: #f2f2f2e6;
   display: inline;
   padding: 2px 4px;
   /* Needs prefixing */
   box-decoration-break: clone;
   line-height: 25px;
}

.fakenews-label {
   position: relative;
   padding: 14px 14px 10px;
   color: $dark;
   @include fluid-type(320px, 1360px, 28px, 32px);
   @include line-height(320px, 1360px, 28px, 30px);
   white-space: nowrap;
   display: inline-block;
   &:before {
      content: "";
      display: inline-block;
      width: 100%;
      height: 100%;
      background-image: url(img/fakenews-label.png);
      background-repeat: no-repeat;
      background-position: center;
      background-size: 100% 100%;
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      z-index: -1;
   }
  
}
.banner-training {
   .section-title {
      margin-bottom: 0;
      color: #fff;
      border-color: #fff;
   }
}

.banner-training__content {
   padding: 1.5rem 2.5rem;
   background-color: #fff;
   text-align: center;
   h6 {
      font-weight: 700;
      margin-bottom: 8px;
   }
   p {
      font-size: 14px;
      line-height: 18px;
      font-weight: 500;
      font-family: $title-font;
      border-top: 1px solid $border_color;
      padding-top: 8px;
   }
}

/* ======== TABLET ======= */
@media only screen and (min-width: $tablet) {
   .banner-img {
      &:after {
         content: "";
         background: linear-gradient(to right, #000 0%, #000 40.08%, rgba(0, 0, 0, 0) 100%);
      }
   }
}

/*=====  End of Banner with image and banner link  ======*/

