/*=============================================
=            Breadcrumb            =
=============================================*/

.breadcrumbs-section {
   padding-top: 2rem;
   padding-bottom: 1rem;

   .breadcrumb_last {
      color: $main-color;
   }
}

#breadcrumbs {
   font-family: $title-font;
   @include fluid-type(320px, 1360px, 12px, 14px);
   text-transform: uppercase;
   font-weight: 400;

   .breadcrumb_last {
      color: $main-color;
   }

   span {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      align-items: center;
      font-weight: 500;
   }

   a {
      display: flex;
      align-items: center;
      color: $dark_04;

      &:after {
         content: "";
         display: inline-block;
         border: solid $dark_04;
         border-width: 0 1px 1px 0;
         display: inline-block;
         padding: 2px;
         transform: rotate(-45deg);
         margin: 0 6px;
      }
   }
}




/* ======== TABLET ======= */
@media only screen and (min-width: $tablet) {
   .breadcrumbs-section {
      padding-top: 3.5rem;
      padding-bottom: 4.5rem;
   }

}

/*=====  End of Breadcrumb  ======*/