/*=============================================
=            Brief section (ukratko, međutim)            =
=============================================*/

.data,
.author {
   font-size: 12px;
   line-height: 14px;
   color: $font_color_light;
   font-weight: 400;
   margin-bottom: 6px;
}

.brief {
   padding: 3rem;
   background-color: #fff;

   &.shadow {
      margin-right: 5px;
   }
}

.brief-box {
   display: inline-block;

   h3 {
      font-weight: 800;
      font-size: 14px;
      line-height: 18px;
      margin-bottom: 1rem;
      &:hover {
         color: $main-color;
         transition: all .3s ease-in-out;
      }
   }

   p {
      font-size: 14px;
      font-weight: 400;
      line-height: 20px;
   }

   a {
      @include hover_link();
   }
}

.brief-scroll-slider {
   .section-title {
      width: 100%;
   }

   display: flex;
   flex-wrap: nowrap;
   overflow-x: auto;
   -webkit-overflow-scrolling: touch;

   .brief-box {
      width: calc(100vw - 135px);
      margin-bottom: 3rem;
      margin-right: 3rem;
      max-width: 300px;
      flex-shrink: 0;
   }
}


/* ======== TABLET ======= */
@media only screen and (min-width: $tablet) {

}

@media only screen and (min-width: $laptop) {

   .brief {
      padding-top: 3rem;
      padding-bottom: 3rem;
   }

   .brief--two-columns {
      display: flex;
      flex-direction: row;
      height: 100%;
      flex-wrap: wrap;

      .brief {
         width: 50%;
         height: 100%;

         &:nth-of-type(1) {
            padding-right: 0;

            .brief-box {
               padding-right: 3rem;
            }

            .brief-scroll-slider {
               border-right: 1px solid $border_color;
            }
         }

         &:nth-of-type(2) {
            padding-left: 0;

            .brief-box {
               padding-left: 3rem;
            }

            .section-title {
               margin-left: 3rem;
            }
         }
      }

      .brief-box {
         height: calc(33.33% - 1rem);
      }

      .brief-scroll-slider {
         height: calc(100% - 70px);
      }
   }

   .brief-scroll-slider {
      flex-direction: column;
      overflow-x: initial;

      .brief-box {
         width: auto;
         margin-right: 0;
         border-bottom: 1px solid $border_color;
         padding-bottom: 2.7rem;
         margin-bottom: 2.7rem;

         &:last-child {

            border: none;
            padding-bottom: 0;
            margin-bottom: 0;
         }
      }
   }
}


/*=====  End of Brief (ukratko i medjutim)  ======*/

