
/*=============================================
=            Button style            =
=============================================*/

.btn,
a.btn,
.wp-block-button__link,
.navbar-btn a{
   background-color: $main_color;
   color: #fff;
   text-transform: uppercase;
   font-size: 14px;
   line-height: 14px;
   font-weight: 500;
   font-family: $title-font;
   padding: 1.1rem 1.5rem;
   white-space: nowrap;
   display: inline-block;
   border: 2px solid $main-color;
   border-radius: 0;
   &:hover {
      border-color: $main-color;
      background-color: #fff;
      color: $main-color;
      transition: all .3s ease-in-out;
   }
}



.brn-dark,
a.btn-dark {
   background-color: $dark;
   border: 2px solid $dark;
   &:hover {
      border-color: $dark;
      background-color: transparent;
      color: $dark;
      transition: all .3s ease-in-out;
   }
}

/*=====  End of btn style  ======*/

