
/*=============================================
=            Cart - blog posts            =
=============================================*/


.cart {
   margin-left: 1.5rem;
   margin-right: 1.5rem;
   margin-bottom: 8px;
   display: flex !important;
   flex-direction: column;
   justify-content: space-between;
   width: calc(100vw - 70px);
   max-width: 400px;
}

.cart__content {
   padding: 2rem 2rem;
   text-align: center;
   box-shadow: $box-shadow;
   background-color: #fff;
   height: 100%;
   h3 {
      font-weight: 700;
      font-size: 14px;
      line-height: 18px;
      margin-bottom: 5px;
   }

   span {
      font-weight: 500;
      font-size: 12px;
      line-height: 16px;
      color: $font_color_light;
      text-transform: uppercase;
      font-family: $title-font;
   }

   &:hover {
      h3 {
         color: $main-color;
         transition: all .3s ease-in-out;
      }
   }
}

// Slick slider - equal height 
.slick-track {
   display: flex !important;
}

.slick-slide {
   height: inherit !important;
}


.full-width-wrap {
   .section-title {
      margin-left: 20px;
   }
   .cart {
      margin-left: 0;
   }
}


/* ======== TABLET ======= */
@media only screen and (min-width: $tablet) {
   
   .cart__content {
      padding: 2rem 4rem;
   }

   .full-width-wrap {
      .section-title {
         margin-left: 6rem;
      }
      .cart {
         margin-left: 0;
      }
   }
}

/* ======== 1330px ======= */
@media only screen and (min-width: 1360px) {


   .full-width-wrap {
      .section-title {
        margin-left: calc((100vw - 1298px)/2);
      }
   }
}

/* ======== Desktop ======= */
@media only screen and (min-width: $desktop) {
  
   .cart {
      margin-bottom: 10px;
      max-width: 400px;
   }
}



/*=====  End of cart  ======*/

