/*=============================================
=            Cart cat - list of category post           =
=============================================*/
.cart-cat {
   background-color: #fff;
}

.cart-cat--equal-height {
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   height: 100%;
}

.cart-cat__list {
   margin-top: -35px;
   position: relative;
   z-index: 1;

   li {
      border-bottom: 1px solid $border_color;
   }
}

.cart-cat__emphasize {
   &:hover {
      h3 {
         color: $main_color;
         transition: all .3s ease-in-out;
      }
   }
}

.cart-cat__emphasize-title {
   background-color: #fff;
   border-top: 6px solid;
   border-bottom: 1px solid $border_color;
   padding: 10px 2rem;
   max-width: 360px;
   @include push--auto;
   position: relative;
   top: -35px;

   h3 {
      font-size: 16px;
      line-height: 20px;
      font-weight: 700;
      text-align: center;
      margin: 0;
   }
}

.list-square {

   li {
      padding-left: 25px;

      &:before {
         content: "";
         display: inline-block;
         width: 12px;
         height: 12px;
         margin-right: -10px;
         position: relative;
         left: -20px;
         background-color: $main_color;
         border-radius: 0;
         top: 0;
      }
   }
}

.list-square--style {
   li {
      margin: 0;
      padding-top: 1.2rem;
      padding-bottom: 1.2rem;
      font-size: 14px;
      line-height: 18px;
      font-weight: 500;
      font-family: $title-font;
      line-height: 20px;
   }
}

.fakenews-sticker {
   background-color: $main_color;
   padding: 1rem .8rem;
   text-align: center;
   width: auto;
   position: absolute;
   top: -12px;
   right: -12px;
   z-index: 1;

   h5 {
      text-transform: uppercase;
      line-height: 14px;
      @include fluid-type(320px, 990px, 10px, 12px);
      font-weight: 700;
      margin-bottom: 0;
   }

   h6 {
      border-top: 1px solid $font_color;
      color: #fff;
      text-transform: uppercase;
      @include fluid-type(320px, 990px, 8px, 10px);
      line-height: 14px;
      margin: 0;
      font-weight: 700;
      padding-top: .4rem;
      margin-top: .4rem;
   }
}

@mixin cart-cat-color($color) {
   .section-title {
      border-color: $color;
   }

   .cart-cat__emphasize-title {
      border-top-color: $color;
   }

   .list-square {
      li {
         &:before {
            background-color: $color;
         }
      }
   }
}

.cart-cat--politics {
   @include cart-cat-color($main_color);
}

.cart-cat--society {
   @include cart-cat-color($society_cat);
}

.cart-cat--economy {
   @include cart-cat-color($economy_cat);
}

.cart-cat--science {
   @include cart-cat-color($science_cat);
}

.cart-cat--world {
   @include cart-cat-color($world_cat);
}

.cart-cat--tragac {
   @include cart-cat-color($tragac_cat);
}



/*=====  End of Cart cat  ======*/