
/*=============================================
=            Cta            =
=============================================*/

.cta {
   background-image: url(img/background-dark.png);
   background-size: cover;
   background-repeat: no-repeat;
   background-position: center;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   padding: 3.6rem 4rem;
   text-align: center;
   overflow: hidden;
   .shape-red {
 
         background-color: #ce001d73;
         opacity: .45;
         transform: rotate(159deg);
         height: 9rem;
         width: 85rem;
         right: -306px;
         z-index: 0;
         bottom: 30px;
   }
}

.cta__button, 
.cta__content,
.cta__img {
   position: relative;
   z-index: 1;
}

.cta__content {
   padding: 2rem 0;
   h1,h2,h3,h4,h5,h6 {
      margin-bottom: 10px;
      font-weight: 300;
   }
    *{
      color: #fff; 
    }
}

.cta__img {
   max-width: 150px;
   height: 75px;
   img {
      max-width: 100%;
      max-height: 100%;
   }
}



/* ======== TABLET ======= */
@media only screen and (min-width: $tablet) {
  
   .cta {
     flex-direction: row;
     justify-content: space-between;
     text-align: left;
     .shape-red {
        bottom: initial;
         top: 24px;
     }
   }

   .cta__content {
      padding: 0 2rem;
   }
}



/*=====  End of cta  ======*/

