.language-wrap {
   margin-top: 15px;
   li {
      font-family: $title-font;
      font-size: 14px;
      display: inline-block;
      padding-left: 0;
      padding-right: 10px;
      text-transform: uppercase;
      background-color: #fff;

      &::before {
         display: none;
      }
   }

}

.language-wrap[lang=lat] {
   .lang-lat {
      font-weight: 600;
   }
}

.language-wrap[lang=cir] {
   .lang-cir {
      font-weight: 600;
   }
}

@media only screen and (min-width: 1024px) {
   .language-wrap {
      display: flex;
      flex-direction: column;
      position: relative;
      top: 0;
      right: 0;
      margin-top: 0;
     
      .language {
         margin-bottom: 0;
         margin-top:0;
         display: flex;
         justify-content: center;
         align-items: center;
         padding-right: 0;
         a {
            padding: 8px 0;
         }
      }
   }

   .navbar-right__button {
      display: flex;
      flex-direction: row;
      align-items: center;
   }

   .language-wrap[lang=lat] {
      .lang-lat {
         order: 1;

         &:after {
            content: "";
            display: inline-block;
            border: solid #151516;
            border-top-width: medium;
            border-right-width: medium;
            border-bottom-width: medium;
            border-left-width: medium;
            border-width: 0 1px 1px 0;
            padding: 3px;
            transform: rotate(45deg);
            margin-left: 10px;
            position: relative;
top: -2px;
         }
      }

      .lang-cir {
         order: 2;
         height: 0;
         opacity: 0;
         visibility: hidden;
      }

      &:hover {
         .lang-cir {
            height: 100%;
            max-height: 300px;
            opacity: 1;
            visibility: visible;
            box-shadow: $box-shadow;
            border-top: 5px solid $main_color;
            padding: 20px 10px;
            transition: opacity .2s ease-in-out;
            position: absolute;
            top: 45px;
         }
      }
   }

   .language-wrap[lang=cir] {
      .lang-cir {
         order: 1;

         &:after {
            content: "";
            display: inline-block;
            border: solid #151516;
            border-top-width: medium;
            border-right-width: medium;
            border-bottom-width: medium;
            border-left-width: medium;
            border-width: 0 1px 1px 0;
            padding: 3px;
            transform: rotate(45deg);
            margin-left: 10px;
            position: relative;
top: -2px;
         }
      }

      .lang-lat {
         order: 2;
         height: 0;
         opacity: 0;
         visibility: hidden;
      }

      &:hover {
         .lang-lat {
            height: 100%;
            max-height: 300px;
            opacity: 1;
            visibility: visible;
            transition: all .3s ease-in-out;
            box-shadow: $box-shadow;
            border-top: 5px solid $main_color;
            padding: 10px;
            transition: opacity .2s ease-in-out;
            position: absolute;
            top: 45px;
         }
      }
   }

}