
/*=============================================
=            Most read post - widget            =
=============================================*/

.most-read__row {
   display: flex;
   flex-direction: row;
   margin-bottom: 15px;
   &:last-child {
      margin-bottom: 0;
   }
}
.most-read__content {
   padding: .4rem 0  0 1.3rem;
   width: calc(100% - 10rem);
   h6 {
      text-transform: uppercase;
      font-weight: 700;
      margin-bottom: 4px;
      line-height: 14px;
     font-size: 12px;
   }
   h5 {
      font-size: 14px;
     line-height: 18px;
      font-weight: 600;
      margin-bottom: 0;
      overflow: hidden;
      width: 100%;
      display: -webkit-box;
      -webkit-line-clamp: 3;
      -webkit-box-orient: vertical;
   }
}
.most-read__img {
   width: 100px;
   height: 79px;
}




/*=====  End of most read  ======*/

