/*=============================================
=            Pagination            =
=============================================*/

.pagination {
   display: flex;
   justify-content: center;
   padding: 5rem 0 4rem;
   margin-top: 5rem;
   border-top: 1px solid $border_color;

   .page-numbers {
      @include fluid-type(320px, 1360px, 14px, 16px);
      font-family: $title-font;
      font-weight: 600;
      width: 4rem;
      height: 4rem;
      background-color: $background_light;
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 0 1.5px;

      &.current {
         background-color: $dark;
         color: #fff;
      }

      &.next,
      &.prev {
         width: auto;
         height: auto;
         background-color: transparent;


      }

      &.next {
         margin-left: auto;

         &:after {
            content: "";
            display: inline-block;
            border: solid $dark;
            border-width: 0 1px 1px 0;
            padding: 3px;
            transform: rotate(-45deg);
            margin-left: 10px;
         }

      }

      &.prev {
         margin-right: auto;

         &:before {
            content: "";
            display: inline-block;
            border: solid $dark;
            border-width: 0 1px 1px 0;
            padding: 3px;
            transform: rotate(135deg);
            margin-right: 10px;
         }

      }
   }
}

/*=====  End of Pagination  ======*/