/*=============================================       
 - Post box style - 
category page 
search page
Medutim
Ukratko
=============================================*/

.post-box {
   display: inline-block;
   margin-bottom: 3.5rem;

   &:last-of-type {
      margin-bottom: 0;
   }
}

.post-box__image {
   display: block;
}

.post-box__data {
   margin: 2rem 2rem 0;
   border-bottom: 1px solid $main-color;

   h6 {
      color: $main-color;
      padding-bottom: 2rem;
      margin: 0;
      font-size: 16px;
      white-space: nowrap;
   }
}

.post-box--border-left {
   border-left: 1px solid $main_color;
}


.post-box__content {
   padding: 20px;

   &:focus {
      border: 3px solid red;
   }



   h5 {
      font-weight: 700;
      margin-bottom: 1.7rem;
   }

   .data {
      margin-bottom: 1.4rem;
   }
}

.post-box__content--title-font {

   p {
      font-family: $title-font;
   }
}

.page-medutim {
   .post-box__content {
      a {
         @include hover_link();
      }
   }
}

/* ======== TABLET ======= */
@media only screen and (min-width: $tablet) {
   .post-box__content {
      padding: 3.5rem 4rem;
   }

   .post-box__data {
      margin-left: 4rem;
   }
}

@media only screen and (min-width: 1100px) {
   .post-box {
      display: flex;
      flex-direction: row;
   }

   .post-box__data {
      margin: 3.5rem 0;
      padding-left: 3rem;
      padding-right: 3rem;
      border-bottom: 0;
      border-right: 1px solid $main-color;
      width: 140px;
      text-align: center;
   }

   .page-medutim {
      .post-box__content {
         width: calc(100% - 140px);
      }
   }

   .post-box__big-img {
      .post-box__left {
         width: 40%;
         max-width: 410px;

      }

      .post-box__image {
         height: 100%;
         min-height: 230px;
         padding: initial;
         display: block;
         background-size: cover;
         transition: background-size .3s linear;
         
      }

      .post-box__content {
         width: calc(100% - 40%);
      }
   }

   .post-box-categories {
      .post-box__image {
         width: 40%;
         min-width: 320px;
         background-size: auto 100%;
         min-height: 234px;
         padding-bottom: initial;
         height: initial;
         transition: background .3s ease-in-out;
         &:hover {
            background-size: auto 105%;
            transition: background .3s ease-in-out;
         }
      }

      .post-box__content {
         padding: 2.5rem 2.5rem 2.5rem 3rem;
         display: flex;
         flex-direction: column;
         justify-content: center;
         width: 60%;

         h5 {
            margin-bottom: 1.2rem;
         }

         p {
            // font-weight: 500;
            font-size: 18px;
            line-height: 24px;
         }

         .data {
            margin-bottom: 1rem;
         }
      }
   }
}




// .category-fake-news {

//    
// }
/*=====  End of post box  ======*/