/*=============================================
=            Search form            =
=============================================*/

.search-input {
   margin-bottom: 15px;
}

.searchform__wrap,
.searchform-large__wrap {
   position: relative;
}

#searchsubmit.searchform__button,
input[type=submit].searchform-large__button {
   position: absolute;
   top: 3px;
   right: 0;
   height: 100%;
   background-image: url(img/search.svg);
   background-size: 14.4px 15px;
   background-repeat: no-repeat;
   background-position: center;
   background-color: transparent;
   border: none;
   cursor: pointer;
   background-color: transparnt;
   border: none;
   padding: 1rem;
}


input[type=text].searchform__input {
   padding-bottom: 6px;
   border-radius: 0;
   box-shadow: none;
   border: none;
   padding-bottom: 6px;
   width: 30px;
   height: 100%;
   position: absolute;
   top: 0;
   right: 0;
}

.searchform-large__input {
   width: 100%;
   padding-right: 5rem;
}

input[type="submit"].searchform-large__button {
   width: 5rem;
   margin-right: 10px;
}

// @media only screen and (min-width: 1024px) {
   .searchform {
      position: relative;
      width: 30px;
      height: 30px;

      &.is-active {
         .searchform__input {
            width: 220px;
            border-bottom: 2px solid $main-color;
            transition: width .2s linear;
            border-radius: 0;
         }

         #searchsubmit.searchform__button {
            background-image: url(img/search-hover.svg);
         }
      }
   }

   input[type=text].searchform__input {
      border: none;
      padding-bottom: 6px;
      width: 30px;
      height: 100%;
      position: absolute;
      top: 0;
      right: 0;
   }

   .searchform__wrap {
      position: initial;
   }

   .search-input {
      margin-bottom: 0;
      display: inline-block;
      vertical-align: middle;
   }

   .dropdown-lang {
      margin-left: 12px;
   }
// }


/*=====  End of Search form   ======*/