
/*=============================================
=            Top list            =
=============================================*/

.top-list {
   background-color: #fff;
}

.top-list__title {
   padding: 1.2rem 1.7rem;
   h6 {
      color: #fff;
      font-weight: 700;
      @include fluid-type(320px, 990px, 14px, 16px);
      margin: 4px;
   }
   .section-title {
      margin-bottom: 0;
      color: #fff;
      @include fluid-type(320px, 990px, 16px, 18px);
   }
}

.top-list__name {
   padding: 1.6rem 2.5rem;
   li {
      font-size: 14px;
      font-weight: 700;
      font-family: $title-font;
      line-height: 16px;
      border-bottom: 1px solid $border_color;
      padding: 9px;
      margin: 0;
      &:last-child {
         border: none;
      }
      &:before {
         content: "";
         color: $main_color;
         font-weight: 700;
        display: inline-block;
        top: 0;
        top: initial;
        margin-left: initial;
        left: initial;
        width: auto;
        height: auto;
        background-color: transparent;
      }
      a {
         padding-left: 5px;
      }
   }

   &.top-list--blue {
     li {
         &:before {
            color: $second_color;
         }
     }
   }
}

.top-list__name--first {

   counter-reset: sectionOne;
   li {
      &:before {
         counter-increment: sectionOne;
         content: "#"counter(sectionOne);
      }
   }
}

.top-list__name--second {
   counter-reset: sectionSecond;
   li {
      &:before {
         counter-increment: sectionSecond;
         content: "#"counter(sectionSecond);
      }
   }
}
