*,
*:after,
*:before {
  box-sizing: border-box;
}

html {
   font-size: 45%;
 }
 
 body {
    margin: 0;
    padding: 0;
    line-height: 18px;
    font-size: 18px;
     font-family: $main-font;
     color: $font_color_08;
     font-weight: 400;
 }
 
 img {
   max-width: 100%;
   width: auto;
  height: auto;
 }
 
 :focus {
  outline: none;
}

.site {
  overflow: hidden;
}


/* ======== LAPTOP ======= */
@media only screen and (min-width: $laptop) {
  
}

/* ======== DESKTOP ======= */
@media only screen and (min-width: $desktop) {
  html {
     font-size: 62.5%;
   }
}