/*=============================================
=            Fake news page            =
=============================================*/

.fakenews-header {
   h1 {
      font-weight: 300;
      color: rgba(255, 255, 255, .95);
      @include line-height(320px, 1360px, 35px, 60px);
   }

   .section {
      padding-bottom: 10rem;
   }

   .shape-red--top-right {
      display: none;
   }
}

.fakenews-steps-section {
   position: relative;
   z-index: 0;
   top: -7rem;
   margin-bottom: -7rem;
}

.fakenews-steps {
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
   justify-content: center;
}

.fakenews-step {
   max-width: 210px;
   min-height: 250px;
   background-size: 100%;
   background-repeat: no-repeat;
   background-position: center;
   padding: 45px 20px 20px 20px;
   margin-bottom: 20px;
   display: flex;
   flex-direction: column;
   justify-content: flex-end;
   position: relative;

   p {
      @include fluid-type(320px, 1360px, 14px, 16px);
      @include line-height(320px, 1360px, 18px, 22px);
      font-family: $title-font;
      font-weight: 600;
   }

   .fakenews-step__background {
      position: absolute;
      top: 0;
      left: -5%;
      width: 110%;
      height: 100%;
      z-index: -1;

      img {
         width: 100%;
         height: 100%;
      }
   }

   .fakenews-step__sticker {
      position: absolute;
      top: -4px;
      right: -9px;
      text-align: center;
      display: block;

      transform: rotate(-1deg);
      padding: .4rem 1.3rem .6rem;

      h5,
      h6 {
         color: #fff;
         line-height: 14px;
         margin: 0;
      }

      h5 {
         font-size: 12px;
         @include fluid-type(320px, 1360px, 10px, 12px);
         margin-bottom: 4px;
         padding: 0 6px 4px 6px;
         border-bottom: 1px solid #fff;
         text-transform: uppercase;
      }

      h6 {
         font-size: 18px;
         @include fluid-type(320px, 1360px, 14px, 18px);
         font-weight: 600;
      }

   }

   .fakenews-step__sticker--background {
      position: absolute;
      width: 100%;
      height: 100%;
      z-index: -1;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
   }

   &:nth-of-type(1) {
      .fakenews-step__content {
         transform: rotate(-4deg);
         padding-left: 2rem;
         padding-bottom: 2rem;
      }

      .fakenews-step__sticker {
         top: 0px;
         right: 9px;
         transform: rotate(-6deg);
      }

      .fakenews-step__sticker--background {
         background-color: #438945;
      }
   }

   &:nth-of-type(2) {
      .fakenews-step__sticker--background {
         background-color: #E49C2D;
      }

   }

   &:nth-of-type(3) {
      .fakenews-step__sticker {
         transform: rotate(0deg);
      }

      .fakenews-step__sticker--background {
         background-color: #CE001D;
         transform: skew(-2deg);
      }
   }

   &:nth-of-type(4) {
      .fakenews-step__content {
         padding-bottom: 2rem;
      }

      .fakenews-step__sticker {
         transform: rotate(2deg);
      }

      .fakenews-step__sticker--background {
         background-color: #3778C2;
         transform: skew(3deg);
      }
   }
}

.fakenews-step__img {
   width: 7rem;
   @include push--auto;
   margin-bottom: 2rem;
}

.uncheck,
.check {
   padding-left: 4.5rem;
   position: relative;

   &:before {
      content: "";
      display: inline-block;
      width: 2.4rem;
      height: 2.4rem;
      margin-right: 15px;
      position: absolute;
      top: 3px;
      left: 0;
      background-size: 100%;
   }
}

.uncheck {
   &:before {
      content: "";
      display: inline-block;
      background-image: url(img/uncheck.png);
   }
}

.check {
   &:before {
      content: "";
      display: inline-block;
      background-image: url(img/check.png);
   }
}

.page-template-fakenews {
   .fakenews-header {
      margin-top: 30px;
   }
}

/* ======== 490px ======= */
@media only screen and (min-width: 490px) {
   .fakenews-steps {
      justify-content: space-between;
   }

   .fakenews-step { 
      width: 48%;
      max-width: initial;
   }

   .fakenews-step__content {
      padding: 0 0 15px 10px;
   }
}


/* ======== TABLET ======= */
@media only screen and (min-width: $tablet) {

   .fakenews-header {
      .shape-red--top-right {
         display: block;
      }
   }
   
   .fakenews-steps {
      justify-content: center;

      .fakenews-step {
         width: calc(25% - 20px);
         margin: 0 10px;
         max-width: 210px;
         padding: 50px 11px 20px 13px;
      }
   }

   .page-template-fakenews {
      .fakenews-header {
         margin-top: 0;
      }
   }

}

/*=====  End of Fake news page  ======*/