/*=============================================
=            Homepage            =
=============================================*/

.hero-section {
   background-color: #fff;
}

.hero {
   max-width: 740px;
   @include push--auto;
   position: relative;
   z-index: 1;
}

.hero__emphasize-img.image-16-9 {
   padding-bottom: 49.2%;

   &.overlay {
      &:before {
         opacity: 0;
         transition: all .3s linear;
      }
   }

   &:hover {
      &.overlay {
         &:before {
            opacity: 1;
            transition: all .3s linear;
         }

      }
   }
}

.hero__emphasize-title {
   background-color: rgba(21, 21, 22, .9);
   padding: 9px 2rem;
   display: flex;
   justify-content: center;

   h2,
   h1 {
      @include fluid-type(320px, 990px, 16px, 20px);
      @include line-height(320px, 1360px, 20px, 24px);
      font-weight: 400;
      padding: 4px 2rem;
      border-left: 3px solid $main-color;
      margin: 0;
   }

   h1 a,
   h2 a {
      color: #fff;
   }
}

.hero__list {
   background-color: #fff;
   border-bottom: 1px solid $border_color;
   padding: 12px 0;
}

.blog-list {
   &.section {
      padding-right: 0;
   }
}

.top-background {
   position: relative;

   &:before {
      content: "";
      display: inline-block;
      width: 100%;
      height: 90px;
      background-color: #fff;
      top: 0;
      left: 0;
      right: 0;
      position: absolute;
   }
}

.bottom-background {
   position: relative;

   &:after {
      content: "";
      display: inline-block;
      width: 100%;
      height: 115px;
      background-color: #fff;
      bottom: 0;
      left: 0;
      right: 0;
      position: absolute;
   }
}

@media only screen and (min-width: $tablet) {
   .hero-section {
      background-color: $background_light;
   }
}

/* ======== LAPTOP ======= */
@media only screen and (min-width: $laptop) {
   .hero__emphasize-title {
      padding-left: 4rem;
      padding-right: 4rem;
   }

   .hero__list {
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;

      li {
         width: 33.33%;
         padding-top: 0;
         padding-bottom: 0;

         &:not(:last-child) {
            padding-right: 2rem;
         }
      }
   }
}