/*=============================================
=            Page 404            =
=============================================*/
.page404 {
   padding-top: 8rem;
   padding-bottom: 11rem;
   overflow: hidden;
}

.page404__content {
   p {
      font-family: $title-font;
      @include fluid-type(320px, 1360px, 18px, 20px);
      @include line-height(320px, 1360px, 24px, 26px);
      font-weight: 500;
   }

   .btn {
      margin-top: 1rem;
   }
}

.page404__image {
   width: 150px;
   margin: 0 auto;
}



/* ======== LAPTOP ======= */
@media only screen and (min-width: $laptop) {
   .page404__image {
      width: 28rem;
   }

   .page404 {
      .column {
         display: flex;
         justify-content: center;
         align-items: center;
      }
   }
}

/*=====  End of Page 404  ======*/