/*=============================================
=            Page global - elements            =
=============================================*/

.shape-red {
   position: relative;
   width: 65rem;
   height: 12rem;
   background-color: $main_color;
   position: absolute;
}

.shape-grey {
   width: 65rem;
   height: 12rem;
   background-color: $background_light;
   position: absolute;
}

.shape-red--top-right {
   top: -2rem;
   right: -10rem;
   transform: rotate(171deg);
   z-index: -1;
}

.shape-red--top-left {
   transform: rotate(10deg);
   left: -14rem;
   top: -1rem;
   z-index: -1;
}

.shape-grey--top-left {
   transform: rotate(22deg);
   left: 3rem;
   top: 7rem;
   height: 15rem;
   z-index: -1;
}

.shape-dark {
   display: inline-block;
   width: 65rem;
   height: 12rem;
   background-color: $dark;
   position: absolute;
}

.shape-red--bottom-right {
   transform: rotate(10deg);
   right: -28rem;
   bottom: -9rem;
}

.shape-dark--bottom-right {
   transform: rotate(20deg);
   right: -42rem;
   bottom: -14.5rem;
}

.link {
   @include hover_link();
   margin-left: 3px;
}

// recaptcha
div.grecaptcha-badge {
   visibility: hidden;
}

/* ======== TABLET ======= */
@media only screen and (min-width: $tablet) {

   .shape-red__big--top-left {
      top: -4rem;
   }

   .shape-grey__big--top-left {
      top: 1rem;
   }
}



/*=====  End of Page global - elements  ======*/