/*=============================================
=            Single pages            =
=============================================*/

.drop-cap,
.has-drop-cap {
   >p:nth-child(1) {
      &:first-letter {
         float: left;
         font-size: 10rem;
         line-height: 8rem;
         margin: 9px 9px 0px 0;
         color: #CE001D;
         font-weight: 500;
         display: inline-block;
      }
   }
}

@include firefox-only {
   .drop-cap {
      >p:nth-child(1) {
         &:first-letter {
            margin: 11px 9px 0px 0;
         }
      }
   }
}

.dropcap:before,
.dropcap:after {
   content: "";
   display: block;
}

.dropcap:before {
   margin-top: -0.2em;
}

.dropcap:after {
   margin-bottom: -0.15em;
}

.wp-block-pullquote {
   padding: 1.6rem 10px 1.6rem 10px;
   margin: 2rem 10px 0 0;
   border-top: 1px solid $main_color;
   border-bottom: 1px solid $main_color;

   blockquote {
      padding: 0;
      margin: 0;

      p {
         font-size: 22px;
      }
   }

   p {

      line-height: 38px;
      font-style: italic;
      text-align: left;
   }
}

div.editor.single-page .wp-block-pullquote blockquote p {
   font-size: 22px !important;
   line-height: 38px !important;
}

.editor {
   a:not(.wp-block-button__link) {
      @include hover_link();
   }

   .wp-block-columns {
      clear: both;
   }

   .wp-block-quote,
   blockquote {
      border-left: 3px solid $main_color;
      padding-left: 1.5rem;
      p {
         margin-bottom: 10px;
      }
      cite {
         font-size: 14px;
         color: $font_color_light;
      }
   }


   .alignleft {
      position: relative;
      margin: 2rem;
      float: none;
   }

   .alignright {
      position: relative;
      margin: 2rem;
      float: none;
   }

   .aligncenter {
      display: block;
      @include push--auto;
   }

   figure.aligncenter {
      display: flex;
      justify-content: center;
      justify-content: center;
      flex-direction: column;
      align-items: center;
   }

   .wp-block-pullquote.alignright {

      position: relative;
      max-width: 100%;
      margin: 2rem;
   }

   .wp-block-pullquote.alignleft {
      position: relative;
      margin: 2rem;
   }

   table {
      border: 1px solid $background_light;
      border-collapse: collapse;
      td,th {
         font-size: 14px;
         line-height: 22px;
         padding: 10px;
         vertical-align: top;
         border: 1px solid $background_light;
      }
      tr {
         padding: 6px 10px;
      }
   }

   .wp-block-gallery {
      li {
         list-style: none;
         padding-left: 0;
         &:before {
            display: none;
         }
      }
   }
   .wp-block-table {
      margin: 0;
      clear: both;
   }

   figcaption {
      font-size: 14px;
      color: $font_color_light;
   }
   // accordion plugin 
   div[id^="accordions"] {
      .accordions-head {
         background-color: $background_light !important;
         border-radius: 0!important;
      }

      .accordions-head-title {
         color: $font_color !important;
         font-size: 16px !important;
         font-family: $main-font !important;
         ;
      }

      .accordions-head:hover .accordions-head-title {
         color: $main-color !important;
         transition: all .3s ease-in-out;
      }

      .accordion-icons {
         color: $main-color !important;
         ;
      }
   }

   // fusnote plugin 
   .inline-footnote {
      font-family: $main-font;
   }
   .inline-footnote span.footnoteContent {
      box-shadow: $box-shadow;
      border: none;
   }

}

.single-page {
   padding: 3rem 1rem;
}

.single-title {
   h1 {
      font-weight: 700;
      margin-bottom: 3rem;
   }
}

.single-page-footer {
   padding: 1.5rem 0;
   border-top: 1px solid $border_color;
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
   justify-content: space-between;

   h6 {
      font-weight: 500;
      margin-bottom: 1.8rem;
      margin-top: 2rem;
   }
}

.tag-list {
   margin-right: 2rem;
   max-width: 570px;

   .tag {
      @include fluid-type(320px, 1360px, 10px, 14px);
      @include line-height(320px, 1360px, 12px, 16px);
      font-family: $title-font;
      display: inline-block;
      text-transform: uppercase;
      font-weight: 500;
      padding: 1rem;
      margin-right: 6px;
      margin-bottom: 6px;
      border: 1px solid $main_color;

      &:hover {
         background-color: $main_color;
         color: #fff;
         transition: all .3s ease-in-out;
      }
   }
}

.post-info {
   display: flex;
   justify-content: space-between;
   margin-bottom: 1rem;

   h6 {
      color: rgba(0, 0, 0, .4);
   }

   .data-icon {
      width: 13px;
      position: relative;
      top: 1px;
      margin-right: 4px;
   }
}

.single-box {
   width: 100%;
   height: 0;
   padding-bottom: 100%;
   position: relative;
   display: block;
   float: left;
   margin-right: 0;
   margin-left: 0;
   margin-bottom: 10px;
   margin-top: 10px;
   .overlay {
      &:before {
         background-color: rgba(0, 0, 0, 0.9);
      }
   }

   h5 {
      color: #fff;
      border-left: 3px solid $main_color;
      position: relative;
      padding-left: 2rem;
      margin: 0;
      // overflow: hidden;
      // width: 100%;
      // display: -webkit-box;
      // -webkit-line-clamp: 4;
      // -webkit-box-orient: vertical;
   }

   .single-box__content {
      padding: 2rem 2.5rem;
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      
   }
}

.heateorSssSharing.heateorSssEmailBackground {
   background-color: $main_color;

   &:hover {
      background-color: #940015;
      transition: all .3s ease-in-out;
   }
}

.heateorSssSharing.heateorSssFacebookBackground {
   background-color: #356aa3;

   &:hover {
      background-color: #244970;
      transition: all .3s ease-in-out;
   }
}

.heateorSssSharingSvg.heateorSssTwitterSvg {
   background-color: #1da1f2;

   &:hover {
      background-color: #1077b7;
      transition: all .3s ease-in-out;
   }
}

hr.wp-block-separator {
   color: $border_color;
}

.responsive-embed-container {
   position: relative;
   display: block;
   overflow: hidden;
   height: 0;
   max-width: 100% !important;
   padding-bottom: 56.25%;
}

.responsive-embed-container {

   iframe,
   object,
   embed {
      position: absolute;
      left: 0;
      top: 0;
      height: 100%;
      width: 100%;
   }
}


@media only screen and (min-width: 782px) {
   .single-title {
      h1 {
         margin-bottom: 5.8rem;
      }
   }

   .wp-block-columns {
      flex-wrap: wrap;
   }

   .editor {
      .wp-block-pullquote,
      .wp-block-pullquote.alignleft,
      .wp-block-pullquote.alignright {
         margin-top: 0;
         max-width: 340px;
      }
   }
}

@media only screen and (min-width: 910px) {
   .wp-block-columns {
      flex-wrap: nowrap;
   }

   .single-box {
      width: 50%;
      padding-bottom: 50%;
      margin-right: 20px;
      margin-left: -30px;
   }

   .editor {


      .wp-block-image.alignleft,
      .wp-block-image.alignright,
      figure.alignright,
      figure.alignleft {
         width: 50%!important;
      }

      

      .alignleft {
         float: left;
         left: -3rem;
         margin-left: 0;
         margin-right: 0;
      }

      .alignright {
         float: right;
         right: -3rem;
         margin-left: 0;
         margin-right: 0;
      }

      .wp-block-pullquote.alignright {
         float: right;
         position: relative;
         width: 50%;
         margin: 2rem;
         right: -3rem;
         margin-left: 0;
         margin-right: 0;
      }

      .wp-block-pullquote.alignleft {
         float: left;
         position: relative;
         margin: 2rem;
         left: -3rem;
         margin-left: 0;
         margin-right: 0;
         width: 50%;
      }
   }

}

@media only screen and (min-width: 1360px) {

   .editor {
      div[id^="accordions"] {
         .accordions-head-title {
            font-size: 18px !important;
         }
      }
   }
  
}

@media only screen and (min-width: $desktop) {
   .single-page {
      padding: 5.5rem 3rem 7rem;
   }

   .single-page-footer {
      margin-left: 3rem;
      margin-right: 3rem;
   }
}