

/*=============================================
=            Helper classes            =
=============================================*/


.unstyle-list {
   list-style: none;
   padding: 0;
   margin: 0;

   li {
      padding: 0;
      margin: 0;
      &:before {
         display: none;
         width: 0;
         height: 0;
      }
   }
}

.clearfix:before,
.clearfix:after {
   content: " ";
   /* 1 */
   display: table;
   /* 2 */
}

.clearfix:after {
   clear: both;
}

.cover {
   background-size: cover;
   background-position: center;
   background-repeat: no-repeat;
}

.image-16-9 {
   position: relative;
   @include image-cover(56.2%);
}

.relative {
   position: relative;
}

.overlay {
   overflow: hidden;
   position: relative;
   &:before {
      content: "";
      background-color: rgba(0, 0, 0, .4);
      width: 100%;
      height: 100%;
      position: absolute;
      display: inline-block;
      left: 0;
      top: 0;
      bottom: 0;
      right: 0;
   }
}

.gradient {
   position: relative;
   &:after {
      content: "";
      background: $gradient;
      width: 100%;
      height: 100%;
      position: absolute;
      z-index: 0;
      display: inline-block;
      left: 0;
      top: 0;
      bottom: 0;
      right: 0;
   }
}

.shadow {
   box-shadow: $box-shadow;
}

.box-border {
   padding: 4rem 3rem;
   position: relative;
}

.box-background {
   position: absolute;
   top: 4rem;
   right: 0;
   bottom: 4rem;
}

.background-main {
   background-color: $main_color;
}

.background-blue {
   background-color: $second_color;
}

.background-dark {
   background-color: $background_dark;
}

.background-white {
   background-color: #fff;
}

.background-grey {
   background-color: $background_light;
}

.background-pattern {
   background-image: url(img/background-dark.png);
   background-repeat: no-repeat;
   background-size: cover;
   background-position: center;
}

.title-font {
   font-family: $title-font;
}

.border-bottom {
   border-bottom: 1px solid $border_color;
}

.border-right {
   border-right: 1px solid $border_color;
}

.border-right {
   border-right: 1px solid $border_color;
}

.padding-bottom-0 {
   padding-bottom: 0!important;
}

.padding-top-0 {
   padding-bottom: 0!important;
}

.padding-left-0 {
   padding-left: 0!important;
}

.padding-right-0 {
   padding-right: 0!important;
}

.overflow-hidden {
   overflow: hidden;
}

.display-block {
   display: block;
}

.center {
   display: flex;
   justify-content: center;
}

.text-right {
   text-align: right;
}

// color classes 

.politics-color {
   color: $politics_cat;
}

.politics-color {
   color: $politics_cat;
}
.society-color {
   color: $society_cat;
}
.blog-color {
   color: $blog_cat;
}
.economy-color {
   color: $economy_cat;
}

.science-color {
   color: $science_cat;
}

.training-color {
   color: $training_cat;
}

.world-color {
   color: $world_cat;
}

.tragac-color {
   color: $tragac_cat;
}

.truth-color {
   color: $truth_cat;
}

// List button color 

.list-square-color--politics,
.list-squar .list-square-color--society{
   &:before {
      background-color: $politics_cat;;
   }
}

.list-square-color--society,
.list-square .list-square-color--society {
   &:before {
      background-color: $society_cat;
   }
}

.list-square-color--blog,
.list-square .list-square-color--blog {
   &:before {
      background-color: $blog_cat;
   }
}

.list-square-color--economy,
.list-square .list-square-color--economy {
   &:before {
      background-color: $economy_cat;
   }
}

.list-square-color--science,
.list-square .list-square-color--science {
   &:before {
      background-color: $science_cat;
   }
}

.list-square-color--training,
.list-square .list-square-color--training {
   &:before {
      background-color: $training_cat;
   }
}
.list-square-color--world,
.list-square .list-square-color--world {
   &:before {
      background-color: $world_cat;
   }
}

.list-square-color--tragac,
.list-square .list-square-color--tragac {
   &:before {
      background-color: $tragac_cat;
   }
}

.list-square-color--truth,
.list-square .list-square-color--truth {
   &:before {
      background-color: $truth_cat;
   }
}

.height-100 {
   height: 100%;
}

.d-block {
   display: block;
}

/* ======== TABLET ======= */
@media only screen and (min-width: $tablet) {
  
   .column-count-2 {
      column-count: 2;
      column-gap: 3em;
   }
}