/* ============ MIXINS ============= */

@mixin border-bottom-animation() {
   transition: all .25s linear;
   position: relative;

   &:before {
      content: "";
      position: absolute;
      bottom: -1px;
      left: 0;
      width: 100%;
      height: 3px;
      background-color: $main-color;
      visibility: hidden;
      transition: .25s linear;
      transform: scaleX(0);
   }

   &.active,
   &.is-checked {
      &:before {
         visibility: visible;
         transform: scaleX(1);
      }
   }
}

@mixin image-cover($padding) {
   position: relative;
   overflow: hidden;
   height: 0;
   padding-bottom: $padding;

   img {
      position: absolute;
      top: 50%;
      bottom: 50%;
      left: 50%;
      right: 50%;
      transform: translate(-50%, -50%);
      max-width: initial;
   }
}

@mixin hover_main_color() {
   color: $main-color;
   transition: all .3s ease-in-out;
}

@mixin hover_link() {
   color: $main-color;
   transition: all .3s linear;
   border-bottom: 1px solid $border_color;
   &:link,
   &:visited {
      color: $main-color;
   }
   &:hover {
      border-color: $main-color;
      transition: all .4s linear;
   }
}

@mixin cover() {
   background-size: cover;
   background-position: center;
   background-repeat: no-repeat;
}

.text-center {
   text-align: center;
}

@mixin shadow() {
   box-shadow: 0 2px 4px 0 rgba(188, 190, 192, 0.40);
}

// Push auto
@mixin push--auto {
   margin: {
      left: auto;
      right: auto;
   }
}

@function strip-unit($value) {
   @return $value / ($value * 0 + 1);
}

@mixin fluid-type($min-vw, $max-vw, $min-font-size, $max-font-size) {
   $u1: unit($min-vw);
   $u2: unit($max-vw);
   $u3: unit($min-font-size);
   $u4: unit($max-font-size);

   @if $u1==$u2 and $u1==$u3 and $u1==$u4 {
      & {
         font-size: $min-font-size;

         @media screen and (min-width: $min-vw) {
            font-size: calc(#{$min-font-size} + #{strip-unit($max-font-size - $min-font-size)} * ((100vw - #{$min-vw}) / #{strip-unit($max-vw - $min-vw)}));
         }

         @media screen and (min-width: $max-vw) {
            font-size: $max-font-size;
         }
      }
   }
}

@mixin line-height($min-vw, $max-vw, $min-font-size, $max-font-size) {
   $u1: unit($min-vw);
   $u2: unit($max-vw);
   $u3: unit($min-font-size);
   $u4: unit($max-font-size);

   @if $u1==$u2 and $u1==$u3 and $u1==$u4 {
      & {
         line-height: $min-font-size;

         @media screen and (min-width: $min-vw) {
            line-height: calc(#{$min-font-size} + #{strip-unit($max-font-size - $min-font-size)} * ((100vw - #{$min-vw}) / #{strip-unit($max-vw - $min-vw)}));
         }

         @media screen and (min-width: $max-vw) {
            line-height: $max-font-size;
         }
      }
   }
}

@mixin firefox-only {
   @at-root {
     @-moz-document url-prefix() {
       & {
         @content;
       }
     }
   }
 }
 
/* ============ END MIXINS ============= */