h1,
h2,
h3,
h4,
h5,
h6 {
   margin: 0 0 2rem 0;
   font-family: $title-font;
   color: $font_color;
   font-weight: 400;
}

h1 {
   @include fluid-type(320px, 1360px, 26px, 45px);
   @include line-height(320px, 1360px, 32px, 54px);
}

h2 {
   @include fluid-type(320px, 1360px, 24px, 27px);
   @include line-height(320px, 1360px, 31px, 34px);
}

h3 {
   @include fluid-type(320px, 1360px, 22px, 24px);
   @include line-height(320px, 1360px, 24px, 30px);
}

h4 {
   @include fluid-type(320px, 1360px, 20px, 22px);
   @include line-height(320px, 1360px, 25px, 28px);
}

h5 {
   @include fluid-type(320px, 1360px, 18px, 20px);
   @include line-height(320px, 1360px, 22px, 26px);
}

h6 {
   @include fluid-type(320px, 1360px, 16px, 18px);
   @include line-height(320px, 1360px, 20px, 24px);
}

p, li,li  {
   @include fluid-type(320px, 1360px, 16px, 18px);
   @include line-height(320px, 1360px, 24px, 30px);
}

div.editor.single-page p,
div.editor.single-page p>span:not(.inline-footnote),
div.editor.single-page li>span:not(.inline-footnote) {
  font-size: 16px!important;
  line-height: 24px!important;
   font-family: $main-font!important;
}

p {
   margin: 0 0 2rem 0;
   color: $font_color_08;
   font-weight: 400;
   &:last-child {
      margin-bottom: 0;
   }
}

ul,
li {
   padding: 0;
   margin: 0;
   color: $font_color_08;
}

ul li {
   list-style: none;
   padding-left: 2.4rem;
   margin-bottom: 1.5rem;
   &:before {
      content: '';
      width: .5rem;
      height: .5rem;
      display: inline-block;
      background-color: $dark;
      border-radius: 50%;
      position: relative;
      left: -7px;
      top: -3px;
      margin-left: -5px;
   }
}

a {
   text-decoration: none;
   color: $font_color;
   &:visited,
   &:link {
      color: $font_color;
   }
   &:hover {
     @include hover_main_color();
   }
}

strong {
   font-weight: 700;
}


/* ======== TABLET ======= */
@media only screen and (min-width: $tablet) {
  p {
     margin-bottom: 3rem;
  }

  div.editor.single-page p,
   div.editor.single-page p>span:not(.inline-footnote),
   div.editor.single-page li>span:not(.inline-footnote) {
   font-size: 18px!important;
   line-height: 30px!important;
   }

}
