$tablet: 768px;
$laptop: 990px;
$desktop: 1440px;
$xdesktop: 1600px;


$main_color: #CE001D;
$second_color: #28559A;
$font_color: #0C0C0C;
$font_color_08:rgba(21, 21, 22, .8);
$font_color_light: #9E9E9E;
$background_light: #F2F2F2;
$background_dark: #323232;
$border_color: rgba(0, 0, 0, .2);
$dark: #151516;
$dark_04: rgba(21, 21, 22, .4);

$gradient: linear-gradient(to right, #000 -32%, rgba(0, 0, 0, 0) 100%);
$gradient2: linear-gradient(to right, #000 0%, #000 40.08%, rgba(0, 0, 0, 0) 100%);

$politics_cat: #E40C28;
$brief_cat: #920317;
$society_cat: #28559A;
$blog_cat: #FBB64D;
$economy_cat: #4B9FE1;
$science_cat: #F8893E;
$training_cat: #006563;
$world_cat: #3778C2;
$tragac_cat: #519B53;
$truth_cat: #45B4B4;

$main-font: 'Merriweather', serif;

$title-font: 'Montserrat', sans-serif;

$box-shadow: 0px 3px 6px 0px rgba(0,0,0,0.16);


// Bulma variable 

